
<div><br>
<%= @random_recipe.name %><br><br>
<ul class="IngredientList">
<% @random_recipe.ingredients.each do |i| %>
  <li><%= i.name %><br></li>
<% end %>
</ul>
</div>
<br><br>

<div>
  <%= link_to 'Different Recipe', request.url, class: 'refresh-recipe-button' %> &nbsp;&nbsp;&nbsp; 
  <%= link_to 'New Recipe', new_user_recipe_path(1), class: 'refresh-recipe-button' %> &nbsp;&nbsp;&nbsp; 
  <%= link_to 'All Recipes',  user_recipes_path(1), class: 'refresh-recipe-button' %> &nbsp;&nbsp;&nbsp; 
</div>
