<%= form_for([@user, @recipe]) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
 
  </div><br>
  Ingredients: <br>
<!--  <% @recipe.ingredients.each_with_index do |i,j| %>
    <div class="field">
      <%= label_tag 'ingredient_name_'+j.to_s, '' %>
      <%= text_field_tag 'ingredient_name_'+j.to_s, i.name %>
    </div>
  <% end %> -->

  <%= f.fields_for :ingredients do |i_fields| %>
		<div class="field">
	    <%= i_fields.hidden_field :id %>
		</div>
    <div class="field" >
	    <%= i_fields.text_field  :name  %>
		  <%= i_fields.check_box :_destroy %>
		  <%= i_fields.label :_destroy, "Remove Ingredient" %>
    </div>										
  <% end %>

										
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
													
<br />													
<%= form_for([@user, @recipe, @recipe.ingredients.new]) do |ni_f| %>
  <div class="field">
    <%= ni_f.label :name, 'New Ingredient: ' %> 
    <%= ni_f.text_field :name %>
    <%= ni_f.submit %>
  </div>
<% end %>
<br />	