<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>

<ul class="IngredientList">
<% @recipe.ingredients.each do |i| %>
  <li><%= i.name %><br></li>
<% end %>
</ul>


</p>

<%= link_to 'Edit', edit_user_recipe_path(@recipe.user, @recipe) %> |
<%= link_to 'Back', user_recipes_path %>
