<p id="notice"><%= notice %></p>
<div>

  <%= @front.methods %><br><br>
  <%= @fronts.methods %><br><br>
  <%= @fronts.many? %><br><br>
  <%= @fronts.any? %><br><br>
  
  <%= @user.methods %><br><br>
  <%= @users.methods %><br><br>
  <%= @users.instance_variables %>
<br>
  <%= @user.to_enum %>
<br>
<br>
  <%= @user.to_a.length %>
<br>
<br>
  <%= @user.to_a.methods %>
<br>
<br>
  <%= @user.to_a.size%>
<br>
<br>
  <%= @user.to_a.all? %>
<br>
<br>
  <%= @user.to_a.find_all %>
</div>
<br><br>
<div>

  <%-# render @users.list -%> 
  <%-# commented line -%>
  <%-# render @users.recipes %>
  <%-# render "recipes/form" %> 

</div>
