// Place all the styles related to the guest_user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.refresh-recipe-button{
  text-decoration:none;
  padding:5px;
  color:black;
  border:1px solid black;
  border-radius:3px;
}
.refresh-recipe-button:hover{
  background:rgba(0,0,0,0);
  color:rgba(193,0,55,1)
}
.IngredientList{
  list-style-type:none;
}
