<!DOCTYPE html>
<html>
<head>
  <title>What's For Dinner?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<p><id = "Logo"> <%= link_to(image_tag("Logo1.png", :alt => "rss feed"), "/") %> </p>

<body>
<%= yield %>

</body>
</html>
